


label {
	display:none;
}
body {
	padding:100px 0;
}
@media screen and (max-width:993px) {
	body {
		padding:30px 0;
	}
}
@media screen and (max-width:480px) {
	body {
		padding:20px 0;
	}
}

@media screen and (max-width:480px) {
	.input-lg { /*Make these small again*/
		height: 34px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		border-radius: 4px;
	}
}

h4 {
	margin-top:2.5em;
	margin-bottom: 1.3em;
}
@media screen and (max-width:480px) {
	h4 {
		margin-top:1.3em;
	}
}


h2 {
	margin-bottom:0.7em;
}
@media screen and (max-width:480px) {
	h2 {
		margin-bottom:0.7em;
		margin-top:0;
	}
}


address {
	font-style:italic;
}


.parsley-errors-list {
	list-style: none;
	padding:0;
	color:#aa0000;
	margin-top:5px;
}

.parsley-error {
	background-color: #FFECEC;
}

.box {
	width:100%;
	max-width:500px;
	margin:0 auto;
	padding:15px;
}

.index-link {
	position:fixed;
	opacity:.2;
	right:15px;
	bottom:15px;
}

.form-error textarea {
	background:#FFECEC;
}