html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing:border-box;
}

a {
	color: #ff633a;
}

.oa-address {
	width:100%;
	max-width:500px;
	margin:0 auto;
	margin-top:100px;
	padding:15px;
	font-size:18px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:#333;
}

.input-holder {
	display:block;

}

.input-holder:before,
.input-holder:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.input-holder:after {
	clear: both;
}

.input-holder label {
	display:none;
}

.input-holder textarea {
	width: 294px;

	float:left;
	margin-right: 25px;
	font-size: 18.1px;

	padding: 10px 16px;
	line-height: 1.3333333;
	border-radius: 6px;
	resize:none;

	display: block;
	padding: 12px;
	line-height: 1.3;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
	border-width:1px 1px 0 1px;
	border-radius: 4px 4px 0 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

	background:url(../images/lined-dashed.png) repeat-x;
	background-position: left -4px;
	position: relative;
	z-index: 10;
}

.is-error .input-holder textarea {
	background-color:#FFF7F7;
}

.is-success .input-holder textarea {
	background:none;
}

.example-address {
	margin-top: 12px;
	color:#737373;
	line-height: 1.3;
	opacity:.6;
}

.example-address span {
	color:#737373;
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 6px;
	display: block;
}

.oa-contribute {
	font-size: 12px;
}

.oa-contribute input {
	margin-right:10px;
}

.oa-contribute a {
	background:url(../images/oa-logo.png) left top no-repeat;
	background-size:contain;
	display:inline-block;
	width:126px;
	height:15px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	top: 3px;
}

.action-holder {
	width: 294px;
	height:63px;
	background:#DADADA;
	padding: 12px;
	border-radius: 0 0 4px 4px;
	overflow:hidden;
	margin-bottom:14px;
}

button {
	float:right;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 6px;

	display: inline-block;
	padding: 6px 12px;
	font-size: 18.1px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;

	color: #fff;
	background-color: #ff633a;
}

button:hover {
	color: #fff;
	background-color: #E2471E;
}

button.edit-address {
	color: #fff;
	background-color: #C7C7C7;
}

button.edit-address:hover {
	background-color: #B3B3B3;
}


::-webkit-input-placeholder {
	color: #333;
}

:-moz-placeholder { /* Firefox 18- */
	color: #333;
}

::-moz-placeholder {  /* Firefox 19+ */
	color: #333;
}

:-ms-input-placeholder {  
	color: #333; 
}

.action-holder > div {
	display:none;
}

.is-collecting .action-collecting {
	display:block;
}

.is-loading .action-loading {
	display:block;
}

.is-success .action-success {
	display:block;
}

.is-error .action-error {
	display:block;
}

.is-error .example-address {
	display:none;
}

.error-message {
	margin-top: 12px;
	display:none;
	color:#BE0B0B;
}


.is-error .error-message {
	display:block;
}

.is-success .example-address {
	display:none;
}

.success-message {
	margin-top: 12px;
	display:none;
	color:#61bb5a;
}

.is-success .success-message {
	display:block;
}


.tick {
	background:url(../images/tick.svg) top left no-repeat;
	display:block;
	width:34px;
	height:32px;
	margin-top: 4px;
	margin-left: 2px;
	float:left;
}

.loader {
	display: block;
	margin: 0 auto;
	font-size: 10px;
	float: right;
	position: relative;
	text-indent: -9999em;
	border-top: 1.1em solid rgba(255, 255, 255, 0.2);
	border-right: 1.1em solid rgba(255, 255, 255, 0.2);
	border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
	border-left: 1.1em solid #ffffff;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
	border-radius: 50%;
	width: 4em;
	height: 4em;
}
@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}